.post {
  padding: 45px 206px 35px 206px;

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 45px;
      cursor: pointer;
      transition: ease 0.4s;
    }

    .edit {
      margin-left: 45px;
      background: #1a8917;
      border-radius: 15px;
      font-size: 14px;
      color: #fff;
      text-transform: capitalize;
      padding: 5px 25px;
      cursor: pointer;
    }
  }
  &_content {
    padding-top: 35px;
    display: grid;
    gap: 20px;
    .title {
      color: rgba(41, 41, 41, 1);
      font-weight: 600;
      font-size: 22px;
      &:first-child {
        font-size: 32px;
        font-weight: 700;
      }
    }
    .paragraph {
      font-size: 20px;
      font-weight: 400;
      color: rgba(41, 41, 41, 1);
      line-height: 32px;
      letter-spacing: -0.003em;
    }

    .image {
      max-width: 100%;
    }

    .code {
      background: rgba(242, 242, 242, 1);
      padding: 15px;
    }
  }
}

@media screen and (max-width: 800px) {
  .post {
    padding: 45px 106px 35px 106px;
  }
}

@media screen and (max-width: 500px) {
  .post {
    padding: 15px;
    &_top {
      .logo {
        width: 35px;
      }
      .edit {
        font-size: 10px;
      }
    }
    &_content {
      padding: 20px 0 15px 0px;
      gap: 15px;

      .title {
        font-size: 16px;
        &:first-child {
          font-size: 25px;
        }
      }

      .paragraph {
        font-size: 14px;
        line-height: 25px;

        letter-spacing: 0px;
      }
      .code {
        padding: 15px;
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .post {
    padding: 15px;

    &_content {
      padding: 20px 0 15px 0px;
      gap: 15px;

      .title {
        font-size: 13px;
        &:first-child {
          font-size: 20px;
        }
      }

      .paragraph {
        font-size: 10px;
        line-height: 15px;

        letter-spacing: 0px;
      }
      .code {
        padding: 10px;
        font-size: 8px;
      }
    }
  }
}
